@font-face {font-family: 'TTLakes'; font-weight: 600; src: url('../fonts/339067_0_0.eot');src: url('../fonts/339067_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/339067_0_0.woff2') format('woff2'),url('../fonts/339067_0_0.woff') format('woff'),url('../fonts/339067_0_0.ttf') format('truetype');}
@font-face {font-family: 'TTLakes'; font-weight: 500;src: url('../fonts/339067_1_0.eot');src: url('../fonts/339067_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/339067_1_0.woff2') format('woff2'),url('../fonts/339067_1_0.woff') format('woff'),url('../fonts/339067_1_0.ttf') format('truetype');}
@font-face {font-family: 'TTLakes'; font-weight: 400;src: url('../fonts/339067_2_0.eot');src: url('../fonts/339067_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/339067_2_0.woff2') format('woff2'),url('../fonts/339067_2_0.woff') format('woff'),url('../fonts/339067_2_0.ttf') format('truetype');}

@font-face {font-family: 'HelveticaNeue'; font-weight: 600; src:url('../fonts/333D8C_0_unhinted_0.woff2') format('woff2'),url('../fonts/333D8C_0_unhinted_0.woff') format('woff'),url('../fonts/333D8C_0_unhinted_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeue'; font-weight: 400;src:url('../fonts/333D8C_1_unhinted_0.woff2') format('woff2'),url('../fonts/333D8C_1_unhinted_0.woff') format('woff'),url('../fonts/333D8C_1_unhinted_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeue'; font-weight: 500;src:url('../fonts/333D8C_2_unhinted_0.woff2') format('woff2'),url('../fonts/333D8C_2_unhinted_0.woff') format('woff'),url('../fonts/333D8C_2_unhinted_0.ttf') format('truetype');}

body .pre-ico-section,
body .post-ico-section,
body .during-ico-section {
	display: none;
}

body.pre-ico .pre-ico-section {
	display: block;
}

body.post-ico .post-ico-section {
	display: block;
}

body.during-ico .during-ico-section,
body.during-ico-phase1 .during-ico-section,
body.post-ico .during-ico-section {
	display: block;
}

.text-highlight{
	transition: all 300ms ease;
	font-weight: 600;
	color: #1ad0ce;
}

.text-highlight-shadow{
	text-shadow: 0px 0px 15px rgba(26, 208, 206, 1);
}

b {
	font-weight: bold;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-center {
	-o-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.center-lg-max-width-2 {
	max-width: 761px;
	display: block;
	margin: 0 auto;
}

.center-lg-max-width-1 {
	max-width: 877px;
	display: block;
	margin: 0 auto;
}

.map-marker {
	position: relative;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 24px;
	height: 24px;
	border-radius: 24px;
	background-color: rgba(26, 208, 206, 0.4);
	transition: all 300ms ease;
}
.map-marker:hover {
	background-color: rgba(26, 208, 206, 1);
}
.map-marker:hover:before {
	  transform: scale(1.2, 1.2);
	  -webkit-transform: scale(1.2, 1.2);
}
.map-marker:before {
	content: '';
	transition: all 300ms ease;
	position: absolute;
	border-radius: 10px;
	left: 0;
	right: 0;
	top:0;
	bottom:0;
	margin: auto;
	width: 10px;
	height: 10px;
	background-color: #1ad0ce;
	box-shadow: 0 0 16px 4px rgba(26, 208, 206, 0.4);
	border: solid 2px #bfffff;

}
.map-marker-popup .leaflet-popup-content-wrapper {
	/*width: 187px;
	height: 89px;*/
	color: #0c102c;
	background-color: #ffffff;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.45);
	border-radius: 4px;
	font-size: 12px;
}
.map-marker-popup .leaflet-popup-close-button {
	display: none;
}

.map-marker-popup .leaflet-popup-content {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	padding-top: 64px; /* placeholder under the fixed header */
	text-rendering: optimizelegibility;
	line-height: 1.2;
	position: relative;
	font-family: 'HelveticaNeue', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #979797;
	font-size: 14px;
}

p {
	line-height: 1.3;
}

body, html {
	width: 100%;
	height: 100%
}

.text-center {
	text-align: center;
}

i {
	display: inline-block;
	/*line-height: 1;*/
}

.hr {
	display: block;
	height: 1px;
	margin-top: 24px;
	margin-bottom: 24px;
	background-color: #eeeeee;
	color: #eeeeee;
	border-color: #eeeeee;
}

    .lSSlideOuter .lSPager.lSpg>li{
        padding: 0 6px;
    }
    .lSSlideOuter .lSPager.lSpg>li a{
		width: 8px;
		height: 8px;
        background-color: #dfdfdf;
    }

    .lSSlideOuter .lSPager.lSpg>li.active a,
    .lSSlideOuter .lSPager.lSpg>li:hover a {
        background-color: #1ad0ce;
    }

.badge {
	padding: 8px;
	border-radius: 4px;
	background-color: #e1f6ec;
}

.icons8-eth {
	width: 25px;
}

.icons8-bancor {
	width: 25px;
}


.check-success-icon {
    height: 48px;
    display: inline-block;
    line-height: 48px;
	font-size: 24px;
	padding-top: 2px;
    width: 48px;
    color: #fff;
    background-color: #1ad0ce;
    border-radius: 48px;
}

.custom-select {
	/*position: relative;
    padding: 0;
    margin: 0;
	border: 1px solid #eeeeee;
    border-radius: 4px;
    overflow: hidden;
    background: #0b0f2b;
	height: auto;
	color: #fff;*/
}
/*.custom-select select {
	width: 100%;
    padding: 8px;
    border: none;
    border-radius: 0;
    background: #ffffff;
    color: #1074FB;
}*/
.custom-select {
	height: auto;
	cursor: pointer;
	background-position: right .2rem center;
}

.page-cover {
	color: #fff;
	height: 150px;
	font-family: 'TTLakes', sans-serif;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
}

.page-cover-subsection {
	padding-top: 64px;
	padding-bottom: 64px;
	background-color: #f8f8f8;
	font-size: 16px;
	line-height: 2.0;
	text-align: center;
	color: #0b0f2b;
}

.btn {
	position: relative;
	padding: 0 16px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	transition: all 300ms ease;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	height: 51px;
	line-height: 51px;
}
.btn .btn-icon{
	position: absolute;
	font-size: 19px;
	margin-left: 4px;
	transition: all 300ms ease;
	display: inline-block;
	opacity: 0;
	transform: translate(-16px, 0);
	-webkit-transform: translate(-16px, 0);

}
.btn:hover .btn-icon{
	opacity: 1;
	transform: translate(0px, 0);
	-webkit-transform: translate(0px, 0);

}
.btn:hover {
	transform: translate(0, -4px);
	-webkit-transform: translate(0, -4px);
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
}

.btn-white {
	border: solid 1px #f8f8f8;
	color: #3b3b3b;
	background-color: #ffffff;
}

.btn-white:hover {
	color: #3b3b3b;
}

.btn-black {
	color: #fff;
	background-color: #0b0f2b;
}

.btn-black:hover {
	color: #fff;
}

.btn-green-filled {
	color: #fff;
	background-color: #1ad0ce;
}

.btn-green-filled:hover {
	color: #fff;
}

.btn-green {
	color: #1ad0ce;
	border: solid 1px #1ad0ce;
}

.card-with-overlay {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.card-with-overlay .card-overlay{
	transition: all 300ms ease;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
}

.card-with-overlay:hover .card-overlay{
	visibility: visible;
	opacity: 1;
	padding: 16px;
	transform: translate(0);
    -webkit-transform: translate(0);
}

.video-gallery .main-video-wrapper {
	position: relative;
}
.video-gallery .main-video-wrapper .main-video-container{
	display: none;
}

.video-gallery .main-video-wrapper .main-video-container.active{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;}

.video-gallery .main-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-gallery .main-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-gallery .main-video-wrapper .video-logo {
	margin-bottom: 8px;
}

.video-gallery .main-video-wrapper .video-location {
	font-size: 14px;
	color: #979797;
	margin-bottom: 16px;;
	font-weight: 600;
}
.video-gallery .main-video-wrapper .video-location span{
	font-weight: normal;
}

.video-gallery .main-video-wrapper .video-title{
	font-family: 'TTLakes', sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.67;
	color: #0c102c;
	margin-bottom: 8px;
}
.video-gallery .main-video-wrapper .video-description{
	font-size: 14px;
	line-height: 2.0;
	margin-bottom: 16px;
}

.video-gallery .video-thumbnails-container {
	margin-top: 42px;
}

.video-thumbnail {
	display: block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	height: 148px;
	color: #fff;
	border-radius: 4px;
}

.video-thumbnail .video-thumbnail-poster{
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.video-thumbnail .video-thumbnail-overlay{
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.video-thumbnail .video-now-playing-label{
	font-family: 'TTLakes', sans-serif;
	transition: all 300ms ease;
	position: absolute;
	top: 8px;
	right: 8px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #1ad0ce;
	opacity: 0;
	visibility: hidden;
}

.video-thumbnail.now-play .video-now-playing-label{
	opacity: 1;
	visibility: visible;
}
.video-thumbnail .video-thumbnail-info{
	position: absolute;
	bottom: 16px;
	right: 16px;
	left: 16px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
}

.video-thumbnail .video-thumbnail-play-button{
	font-size: 24px;
	width: 24px;
	height: 24px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.video-thumbnail .video-thumbnail-info .time{
	margin-bottom: 4px;
}

.video-thumbnails-container a {
	transition: opacity 300ms ease;
	margin: 0;
	top: 50%;
	transform: translate(0, -50%);
	background-image: url('/static/images/controls.png');
}


/* Tooltips */
.tipr_content
{
     font: 13px/1.7 'Helvetica Neue', Helvetica, Arial, sans-serif;
     color: #333;
     background-color: #fff;
     padding: 9px 17px;
}
.tipr_container_below
{
     display: none;
     position: absolute;
     margin-top: 13px;
     z-index: 1000;
}
.tipr_container_above
{
     display: none;
     position: absolute;
     margin-top: -77px;
     z-index: 1000;
}
.tipr_point_above, .tipr_point_below
{
     position: relative;
	background: #fff;
	border: 1px solid #dcdcdc;
}
.tipr_point_above:after, .tipr_point_above:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	top: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_above:after
{
	border-top-color: #fff;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.tipr_point_above:before
{
	border-top-color: #dcdcdc;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}
.tipr_point_below:after, .tipr_point_below:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	bottom: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_below:after
{
	border-bottom-color: #fff;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.tipr_point_below:before
{
	border-bottom-color: #dcdcdc;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}

.hexagon {
  position: relative;
  width: 88px;
  height: 54px;
  background-color: #0b0f2b;
  margin: 23px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 44px solid transparent;
  border-right: 44px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 23px solid #0b0f2b;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 23px solid #0b0f2b;
}

.hexagon i {
	font-size: 40px;
    line-height: 1px;
	color: #1ad0ce;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);}

h1, h2, h3, h4, h5, h6 {
	font-family: 'TTLakes', sans-serif;
}

h1 {
	line-height: 1.5;
	color: #0b0f2b;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 16px;
}

h2 {

	font-size: 18px;
	line-height: 1.5;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	margin-bottom: 8px;
}

h4 {
	font-weight: bold;
	color: #0b0f2b;
	font-size: 14px;
	margin-bottom: 8px;
}

.relative {
	position: relative;
}

.logo {
	background: url('../images/logo.png') no-repeat;
	background-size: contain;
}

.logo-symbol-light {
	background: url('../images/bancor_symbol_light.png') no-repeat;
	background-size: contain;
}

.logo-footer {
	width: 156px;
	height: 32px;
	background: url('../images/logo_footer.png') no-repeat;
	background-size: contain;
	margin-bottom: 8px;
}

input, textarea {
	width: 100%;
	display: block;
	height: 56px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	border: solid 1px #dfdfdf;
	padding: 8px;
}

textarea {
	height: auto;
}

.img-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

@media (min-width: 992px) {
	.page-cover {
		height: 300px;
		font-size: 48px;
		font-weight: 600;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		position: absolute;
		top: 50px;
		background-color: #ffffff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		z-index: 1;
		transition: all 300ms ease;
		opacity: 0;
		visibility: hidden;
	}
	.dropdown-content::before {
		content: '';
		position: absolute;
		top: -4px;
		left: 25%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);

		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;

		border-bottom: 8px solid #fff;
	}

	.dropdown:hover .dropdown-content {
		opacity: 1;
		visibility: visible;
	}


	body {
		padding-top: 83px; /* placeholder under the fixed header */
	}
	h1 {
		font-family: 'TTLakes', sans-serif;
		font-size: 32px;
		margin-bottom: 24px;
	}

	h2 {
		font-family: 'TTLakes', sans-serif;
		font-size: 24px;
	}

	h3 {
		font-family: 'TTLakes', sans-serif;
		font-size: 18px;
	}

	input {
		height: 67px;
		padding: 24px;
	}

	textarea {
		padding: 24px;
	}

	.flex-lg {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}

/* Notebook */
.notebook-pager li {

}

.notebook-pager li.active {
}

.notebook-content li {
	display: none;
	opacity: 0;
	transition: opacity 300ms ease;
}

.notebook-content li.active {
	display: block;
	opacity: 1;
}

.tip {
	cursor: pointer;
}
/* Form */
form.success .inputs {
	display: none;
}
form .success-message {
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms ease;
}
form.success .success-message {
	visibility: visible;
	opacity: 1;
}

form .input-group-1 {
	position: relative;
}

form .input-error-msg {
	font-weight: 500;
	padding: 5px 24px 0 24px;
}

form .input-group-1.error {
	color: #ea4e4e;
}
form .input-group-1.error input, form .input-group-1.error textarea {
	border-color: #ea4e4e;
}

.collapsible {
	overflow: hidden;
}

.collapsible .collapsible-toggle{
	cursor: pointer;
}

.collapsible .collapsible-content{
	display: none;
}

.collapsible.active .collapsible-content{
	display: block;
}

.loader {
	display: none;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

/* Small temp fix - to change flip animation to fade on mobile */
@media (max-width: 992px) {
	.flipInX {
		animation-name: fadeIn;
	}
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes text-highlight { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg) } }
@-webkit-keyframes text-highlight { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes text-highlight { 100% { -moz-transform: rotate(360deg); } }
