<%@title = "All Users"%>
<h1> Current Students </h1>
<table class="oddEven">
  <tr class="header">
    <td>User List</td>
  </tr>

  <!--<#= label_tag(:searchword, "Search:") %>-->
  <!--<#= text_field_tag(:searchword) %>-->

  Search: <input type="text" id="search">

  <div id="searchresults"></div>

  <%= javascript_include_tag "Search"%>
  <script type="text/javascript">
      //<![CDATA[
      var search = new Search("search", "searchresults");
      //]]>
  </script>
  <% for user in @users %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to(user.first_name, controller: "photos", action: "index", id: user.id) %></td>
      </tr>
  <% end %>
</table>